// Blockquotes
blockquote {
    padding: 10px 15px;
    border-left: 4px solid @blockquote-border-color;
    line-height: @p-line-height-ratio;

    p,
    ul,
    ol {
        &:last-child {
            margin-bottom: 0;
        }
    }

}
