main{
    .flexbox();
}

.input-areas{
    width: 40vw;
    background: #bbb;
    height: 100vh;
	border-right: 2px solid #bbb;
}

.text-areas{
	position: relative;
	height: 95%;
}

.vars{
	position: relative;
	height: 5%;
}

textarea{
    width:100%;
    height: 100%;
}

.inputarea{
    width: 100% !important;
    height: 50%;
	position: relative;
	& > .title{
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 9999;
		font-weight: 700;
		opacity: 0.2;
	}
	& + .inputarea{
		border-top: 2px solid #bbb;	
	}
}

.output{
    width: 60vw;
    height: 100vh;
    iframe{
        width: 100%;
        height: 100%;
    }
}