*,
*:before,
*:after {
    .box-sizing(border-box);
}

h1, h2, h3, h4, h5, h6, p, blockquote, button{
    margin: 0;
    padding: 0;
}

article,footer,header,hgroup,
nav,section,blockquote,main{
    display:block;
}

/* Responsive images and other embedded objects */
img,object,embed,video,iframe {
    display: block;
    width: auto;
    max-width: 100%;
    border: 0;
}
/* Responsive images aspeсt ratio */
img,video,iframe {
    height: auto;
}

::-moz-focus-inner {
    padding: 0;
    border: 0;
}

:focus {
    outline: 0;
}
